
<div class="container">
  <div class="row justify-content-center">
    @for (item of data; track $index) {
      @if(item.delivery== true){
        <div class="col-md-3">
          <a (click)="navigateToDetail(item)" >
            <div class="card icon-link-hover">
              <img class="card-img-top" src="{{item?.imagen}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">{{item.name}}</h5>
                <p class="card-text">{{item?.ingredients?.join(', ')}}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted"> CLP {{item.price}}</small>
              </div>
            </div>
          </a>
        </div>
      }
      
    }
  </div>
</div>







  

