
<div id="carouselExampleInterval" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner ">
      <div class="carousel-item active text-center" data-bs-interval="5000">
        <img src="https://i.ibb.co/C7dcjmj/Whats-App-Image-2024-02-19-at-7-12-35-PM.jpg" class="w-50 " alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="https://i.ibb.co/tckSjVf/Whats-App-Image-2024-02-19-at-7-12-19-PM.jpg" class="w-auto" alt="...">
      </div>
      <div class="carousel-item"data-bs-interval="5000" >
        <img src="https://i.ibb.co/4W4YJbT/Whats-App-Image-2024-02-19-at-7-12-26-PM.jpg" class="w-auto " alt="...">
      </div>      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
