

  <footer class="bg-dark text-white text-center p-3">
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <img [src]="logo" alt="Logo de Tu Empresa" class="img-fluid invert-bw mr-2" style="max-width: 140px;">
      </div>
      <div>
        <p class="small mb-0">&copy; 2024 Maunte`n Gril  <br>Todos Los derechos Reservados a Gustavo Castillo </p>
      </div>
      <div>
        <a href="https://www.instagram.com/mautengril/" class="text-white d-flex align-items-center" style="max-width: 160px;">
          <i class="bi bi-instagram fs-4 ml-2"></i>
        </a>
      </div>
    </div>
  </footer>
  
  
  
 

