
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Delivery</h1>
    </div>
  </div>
  <!-- Render de Mañana -->
@if(getHour()== "días"){
<h1 class="text-center">Los Mejores Desayunos 🌞</h1>
<div class="container">
  <div class="row">
    <div class="col-12">
        <h2 class="text-center"> {{dataMenu[0].iName}}</h2>
        <app-cards [dataMenu]="dataMenu[0].iItems"/>
                 
    </div>
  </div>
</div>
    }


    <!-- Render de Tarde -->
  @if(getHour()=="tardes"){
    <h1 class="text-center">TARDES DE que esto  tiene  que estar centrado  </h1>

    

    <div class="container">
      <div class="row">
        <div class="col-12">
          @for (item of dataMenu; track $index) {
            @if(item.iName !== "Churrasca"){
              <h2 class="text-center"> {{item.iName}}</h2>
              <app-cards [dataMenu]="item.iItems"/>
            }
                     }
        </div>
      </div>
    </div>
  }







      <!-- Render de cerrado -->
  @if(getHour()=="Cerrado"){
<!-- diga cerrado  den color  rojo   -->

    <h1 class="text-center ">Esta  Cerrado  </h1>
    <div class="container">

      <div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



      
      <div class="row">
        <div class="col-12">
          @for (item of dataMenu; track $index) {
            <h2 class="text-center"> {{item.iName}}</h2>
            <app-cards [dataMenu]="item.iItems"/>
                     }
        </div>
      </div>
    </div>
  }






<footer class="footer fixed-bottom bg-light">
    <div class=" text-center">
        

<nav class="navbar fixed-bottom bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <a class="navbar-brand" href="/delivery">Delivery </a>
      <a class="navbar-brand" href="#">Tienda</a>
    </div>
  </nav>
        
    </div>
</footer>