<!-- Test Case 1: Verify rendering of item names -->
<h2 class="text-center"> Item 1</h2>
<div class="row">
  <div class="col-6">
    <h4 class="text-center"> Subitem 1</h4>
  </div>
  <div class="col-6">
    <h4 class="text-center"> Subitem 2</h4>
  </div>
</div>

<!-- Test Case 2: Verify rendering of another item -->
<h2 class="text-center"> Item 2</h2>
<div class="row">
  <div class="col-6">
    <h4 class="text-center"> Subitem 1</h4>
  </div>
  <div class="col-6">
    <h4 class="text-center"> Subitem 2</h4>
  </div>
</div>