
<nav class="navbar bg-body-tertiary  bg-opacity-50">
  <div class="container-fluid  d-flex  h-100 w-100 " >
    <a class="navbar-brand bg-opacity-75  position-absolute top-50 start-50 translate-middle  " [routerLink]="['/']">
      <img [src]="logo" alt="Bootstrap" width="60" height="60">
    </a>
    
    <div class="d-grid gap-2 d-md-flex w-75 h-100 justify-content-md-end ">
      
      <a class=" bi bi-house-fill bg-opacity-75 text-light  position-absolute fw-bold top-50 start-100 fs-3 w-50 translate-middle  " [routerLink]="['/']">
      </a>


    <!-- <div class="d-grid gap-2 d-md-flex   mh-100 "> -->
      <button type="button" class="bi bi-cart4 fs-3 btn btn-lg bg-transparent fw-bold me-md-8 text-warning" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">

      @if (cuentaState) {
        <span class="badge rounded-pill bg-danger position-relative translate-middle ms-1" style="font-size: 0.8rem;">
          {{cuentaState}}
          <span class="visually-hidden">unread messages</span>
        </span>        
      }
    </button>
  </div>
<!-- </div> -->



    <button class="navbar-toggler text-warning  position-absolute top-1000  text-light " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
     
     
      <span class="navbar-toggler-icon text-center"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel text-center fs-2">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-flex justify-content-center text-center ">
        <ul class="navbar-nav flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link btn-dark text-warning" href="#Landing">LANDING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-dark text-warning" href="#SANGUCHES">SANGUCHES</a>
          </li>
          <li class="nav-item text-warning">
            <a class="nav-link btn-dark text-warning" href="#HAMBURGUESAS">HAMBURGUESAS</a>
          </li>
          <li class="nav-item text-warning">
            <a class="nav-link btn-dark text-warning" href="#FAJITAS">FAJITAS</a>
          </li>
          <li class="nav-item text-warning">
            <a class="dropdown-item text-warning" href="#COMPLETOSYHOTDOG">COMPLETOS Y HOT DOG</a>
          </li>
          <li class="nav-item text-warning">
            <a class="dropdown-item text-warning" href="#PEPITOS">PEPITOS</a>
          </li>
          <li class="nav-item text-warning">
            <a class="dropdown-item text-warning" href="#COSTILLAS">COSTILLAS</a>
          </li>
          <li class="nav-item text-warning">
            <a class="dropdown-item text-warning" href="#TEQUEÑOS">TEQUEÑOS</a>
          </li>
          <li class="nav-item text-warning">
            <a class="dropdown-item text-warning" href="#EXTRAS">Extra</a>
          </li>
        </ul>
      </div>
      
    </div>
  </div>
</nav>

























<!-- 

<nav id="navbar-example2" class="navbar bg-body-tertiary px-0 mb-0 bg-opacity-75  fixed-top"> -->
  <!-- <a class="navbar-brand position-absolute start-0" [routerLink]="['/']"> <img [src]="logo" alt="logo" class="img-fluid w-50  opacity-75"></a>
   -->
   <!-- <div class="container">
     <a class="navbar-brand bg-opacity-75  " [routerLink]="['/']">
      <img [src]="logo" alt="Bootstrap" width="70" height="70">
    </a>
  </div>
   <ul class="justify-content-end">  
       <li class="nav-item ">
        
        <a class=" nav-link btn-dark text-warning"  href="#Landing">   
          LANDING
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-dark  text-warning  " href="#SANGUCHES">SANGUCHES</a>
      </li>
      <li class="nav-item text-warning">
        <a class="nav-link btn-dark text-warning" href="#HAMBURGUESAS">HAMBURGUESAS</a>
      </li>
      <li class="nav-item text-warning">
        <a class="nav-link btn-dark text-warning" href="#FAJITAS">FAJITAS</a>
      </li>

    <li class="nav-item dropdown text-warning">
    <a class="nav-link dropdown-toggle text-warning" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Categorías</a>
      <ul class="dropdown-menu">
        Landing
         <li><a class="dropdown-item text-warning" href="#COMPLETOSYHOTDOG">COMPLETOS Y HOT DOG</a></li>
         <li><a class="dropdown-item text-warning" href="#PEPITOS">PEPITOS</a></li>
         <li><a class="dropdown-item text-warning" href="#COSTILLAS">COSTILLAS</a></li>
         <li><a class="dropdown-item text-warning" href="#TEQUEÑOS">TEQUEÑOS</a></li>
         <li><a class="dropdown-item text-warning" href="#EXTRAS">Extra</a></li>
      </ul>
    </li>    
  </ul>
</nav>
 -->
