<app-navbar></app-navbar>

<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card" style="max-width: 400px;">
    <img src="{{data.imagen}}" class="card-img-top" alt="...">
    <div class="card-body text-center">
      <h2 class="card-title">{{name}}</h2>
      <p class="card-text">{{data.ingredients.join(', ')}}</p>
      <p class="card-text"><small class="text-muted">CLP {{data.price}}</small></p>
    </div>
    
    <div class="card-footer text-center">
      <h5>Cantidad: {{contador}}</h5>
      <div class="btn-group">
        <button (click)="Decrementar()" type="button" class="btn btn-secondary">-</button>
        <button (click)="incrementar()" type="button" class="btn btn-secondary">+</button>
      </div>
      <button (click)="agregar()" type="button" class="btn btn-primary">Agregar al Carrito</button>
    </div>
  </div>
</div>



<app-pie></app-pie>

<app-carrito></app-carrito>



