<!-- <app-navbar /> -->

  <div>
      <app-landing id="Landing"></app-landing>
  </div>
  <!-- <div class="d-flex justify-content-center align-items-center" style="height: 30vh;">
    <div class="text-center py-4">
        <button type="button" class="btn btn-secondary btn-lg btn-block mx-4">Delivery</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Local</button>
    </div>
</div> -->



<div class="start-50">
  <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-0 rounded-0" tabindex="0">
    <!-- <h4 id="SANGUCHES" class="text-center p-3">{{dataMenu[0].iName}}</h4>
    <app-cards [dataMenu]="dataMenu[0]"/>

    <h4 id="HAMBURGUESAS" class="text-center p-3">{{dataMenu[1].iName}}</h4>
    <app-cards [dataMenu]="dataMenu[1]"/>
            <h4 id="FAJITAS" class="text-center p-3" >{{dataMenu[2].iName}}</h4>
            <app-cards [dataMenu]="dataMenu[2]"/>
            <h4 id="COMPLETOSYHOTDOG" class="text-center p-3" >{{dataMenu[3].iName}}</h4>
            <app-cards [dataMenu]="dataMenu[3]"/>
            <h4 id="PEPITOS"  class="text-center p-3">{{dataMenu[4].iName}}</h4>
            <app-cards [dataMenu]="dataMenu[4]"/>
            <h4 id="COSTILLAS"  class="text-center p-3">{{dataMenu[5].iName}}</h4>
            <app-cards [dataMenu]="dataMenu[5]"/>
            <h4 id="TEQUEÑOS" class="text-center p-3">{{dataMenu[6].iName}}</h4>
            <app-cards [dataMenu]="dataMenu[6]"/>
            <h4 id="EXTRAS" class="text-center p-3">{{dataMenu[7].iName}}</h4>
            <app-cards [dataMenu]="dataMenu[7]"/>

          </div>
    
    <app-carrito />

  </div> -->

  <footer class="footer fixed-bottom bg-light">
    <div class=" text-center">
        <app-pie></app-pie>
    </div>
</footer>



<footer class="footer fixed-bottom bg-light">
  <!-- <div class=" text-center">
      

<nav class="navbar fixed-bottom bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Home</a>
    <a class="navbar-brand" href="/delivery">Delivery </a>
    <a class="navbar-brand" href="#">Tienda</a>
  </div>
</nav>
      
  </div> -->


<app-navbar />

</footer>

  


  

  